:root{
    --Normal-Textsize:20px;
    --heding-textsize:20px;
    --heading-text-color:white;
    --regular-font:Arial, Helvetica, sans-serif;
    --logo-style:'Pacifico', cursive;
    --hover-Text-color:rgb(0, 255, 200);
}
